<a href="https://colab.research.google.com/github/jit-apec/netbridge/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import seaborn as ab
import matplotlib.pyplot as plt
from matplotlib import style

df = pd.read_excel('/Canada.xlsx', 1, skiprows = range(20) ,skipfooter = 2)
df
df.drop(['AREA','REG','DEV','Type','Coverage','DevName'], axis=1, inplace=True)
df.rename(columns = {'OdName':'country','AreaName':'continent','RegName':'region'}, inplace = True)
df['total'] = df.sum(axis = 1)
df = df.set_index('country')
df

               continent              region  1980  ...  2012  2013  total
country                                             ...
Afghanistan         Asia       Southern Asia    16  ...  2635  2004  58639
Albania           Europe     Southern Europe     1  ...   620   603  15699
Algeria           Africa     Northern Africa    80  ...  3774  4331  69439
American Samoa   Oceania           Polynesia     0  ...     0     0      6
Andorra           Europe     Southern Europe     0  ...     1     1     15
...                  ...                 ...   ...  ...   ...   ...    ...
Viet Nam            Asia  South-Eastern Asia  1191  ...  1731  2112  97146
Western Sahara    Africa     Northern Africa     0  ...     0     0      2
Yemen               Asia        Western Asia     1  ...   174   217   2985
Zambia            Africa      Eastern Africa    11  ...    46    59   1677
Zimbabwe          Africa      Eastern Africa    72  ...   437   407   8598

[195 rows x 37 columns]